<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="jdbc:mariadb://192.168.0.120:3306/webdb"/>
                <property name="username" value="webuser"/>
                <property name="password" value="webuser"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/zerock/w0929/dao/TimeMapper.xml"></mapper>
    </mappers>
</configuration>